Web scraping, web harvesting, or web data extraction is data scraping used for extracting data from websites. The web scraping software may directly access the World Wide Web using the Hypertext Transfer Protocol or a web browser.

In [13]:
# Importing BeatifulSoup for web scraping
from bs4 import BeautifulSoup

# The requests module allows you to send HTTP requests using Python.
import requests

# Importing other packages
import pandas as pd

Now let us use the wikepedia url for the oscar nominations and wins from india

In [39]:
url = 'https://en.wikipedia.org/wiki/List_of_Indian_winners_and_nominees_of_the_Academy_Awards'

result = requests.get(url).content

# Creating a BeautifulSoup object
soup = BeautifulSoup(result)

In [93]:
# Getting the table from the objecct
summary = soup.find_all('table', {'class': 'wikitable'})

# Converting it into a dataframe
df = pd.read_html(str(summary[1]))[0]

df.head()

         Year Nominee(s)/recipient(s)  ...     Result  Ref.
0  1958(30th)            Mother India  ...  Nominated   [2]
1  1961(33rd)         Ismail Merchant  ...  Nominated  [13]
2  1969(41st)          Fali Bilimoria  ...  Nominated   NaN
3  1978(50th)              Ishu Patel  ...  Nominated  [14]
4  1979(51st)             K. K. Kapil  ...  Nominated  [15]

[5 rows x 6 columns]